.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.office {
  margin-bottom: 30px;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}
